
.div-split {
    background-color: #FF0000;
    /* animation: bgColor 10s infinite linear; */
  }
  @keyframes bgColor {
    12.5% {
      background-color: #FF0000;
    }
    25% {
      background-color: #FFA500;
    }
    37.5% {
      background-color: #FFFF00;
    }
    50% {
      background-color: #7FFF00;
    }
    62.5% {
      background-color: #00FFFF;
    }
    75% {
      background-color: #0000FF;
    }
    87.5% {
      background-color: #9932CC;
    }
    100% {
      background-color: #ff1414;
    }
  }




.intro {
    display: flex;
    flex-direction: column;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 1500;
    /* align-items: center; */
    
}

.intro img {
    width: 200px;
}

.intro-profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 250px;
}


.div-split {
    background-color: #000;
    height: 3px;
}
.div-split-stop {
    background-color: #000 !important;
    height: 3px !important;
}



.hello {
    text-align: center;
    /* width: 80%; */
    margin: 0px auto;
    
    
}

.hello h3 {
    line-height: 5px;
    
}

.welcome {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    /* height: 10px; */
    width: 100%;
    margin: 0 auto;
}

.welcome img {
    /* width: 360px; */
    margin: 30px auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#welcome-text {
    
    width: 360px;
    height: auto;
    overflow: auto;
    /* padding: 0 0px; */
}
#thunder {
    width: 85px;
    height: auto;
}

.intro * {
    max-width: 100%;
    box-sizing: border-box;
}
.intro-profile {
    width: 100%;
}

.profile {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    /* gap: 100px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    row-gap: 0;
}
.profile-pic {
    position: relative;
    z-index: 20;
}
.profile-pic #window {
    background-color: aliceblue;
    
    top:0;
    left: -230px;
    width: 400px;
    object-fit: contain;
    z-index: 5;
}

.profile-pic #pfp {
    position: absolute;
    width: 370px;
    left: 10px;
    top: -30px;
}

.profile-info {
    font-size: 22px;
    font-family: 'W95FA', sans-serif;
    /* font-weight: bold; */
    width: 650px;
    text-align: justify;
    /* padding-left: 100px; */
    word-wrap: normal;
}

.profile-info-p {
    /* background-color: #0195b6; */
}

.socials {
    display: flex;
    gap: 30px;
}
.socials img {
    width: 64px;
    height: auto;
}
.socials a {    
    text-decoration: none;
}
    .socials a:hover {
        filter: brightness(0.5);
        transition: .2s ease;
    }

    .tech, .projects {
        margin: 40px auto;
        width: 100%;
        
    }

    
.tech {
    font-family: 'W95FA';
}
.tech-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem; /* space between the items */
    padding: 1rem;
} 

.tech-stack img {
    width: 72px;
    height: auto;
}

#technologies-text, #project-text {
    margin-bottom: 30px;
    width: 300px;
    height: auto;
    overflow: auto;
}
.projects {
    font-family: 'W95FA';
}

.project-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* gap: 1rem; */
    padding: 1rem;

    justify-content: center;
    max-width: 1200px;
    margin: 0 auto; /* centers the grid box itself */
    /* margin-bottom: 3rem !important; */
}
.project-grid a {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 13rem !important;
    text-decoration: none;
    color: #000;
}


.card-container {
    position: relative;
    width: 450px;
    height: 300px;
    text-align: center;
    display: flex;
    /* gap: -10px; */
    flex-direction: column;
    /* margin-bottom: 4rem; */
}

.card-container h1 {
    font-size: 24px;
}

.card-container p {
      /* line-height: 10px; */
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

  .card-container:hover h1 {
    text-decoration: underline;
  }
  

  
  .card-actual {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100% !important;
    /* height: 300px; */
    /* background: white; */
    /* border-radius: 16px; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.4s ease;
    z-index: 1;
  }

  .card-1 {
    background: url(./assets/projects/1.png) ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;;
  }
  .card-2 {
    background: url(./assets/projects/2.jpg) ;
    background-size: 99% 98%;
    background-position: center;
    background-repeat: no-repeat; ;
  }
  .card-3 {
    background: url(./assets/projects/3.png) ;
    background-size: 99% 93%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-4 {
    background: url(./assets/projects/4.png) ;
    /* background-size: 99% 93%; */
    background-size: 99% 94%;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  
  .card-container:hover .card-actual {
    transform: scale(1.01);
  }
  
  .card-container:hover .card-ghost {
    opacity: 1;
  }
  







/* 770px */
@media screen and (max-width: 770px) {

    #gifs-back {
        display: none;
    }

    .titlebar-left h1{
        font-size: 25px !important; 
    }

    #thunder {
        display: none;
    }

}


